
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  input[type=text] {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: white;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 25px;
  }
  
  input[type=text]:focus {
    border-color: #FFA424;
    transition: border-color 0.3s ease-in-out;
  }

  .grid-container {
    position: absolute;
    display: grid;
    grid-template-columns: 22.5vw 1fr; /* Aumenta a largura da sidebar em 5% */
    grid-template-rows: 100vh;
    gap: 10px;
    justify-content: center;
  }

  .sidebar {
    background-color: #05862c;
    padding: 20px;
    justify-content: center;
  }

  .user-bar {
    display: flex;
    align-items: center;
    background-color: #04591D;
    padding: 10px;
    border-radius: 5px;
  }

  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    color: #FCFCFC;
  }

  .user-name {
    font-weight: bold;
  }

  .access-level {
    color: #FCFCFC;
  }

  .search-bar {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 10vh;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-option {
    justify-self: center;
    grid-area: button;
    background-color:#FFA424;
    color: #fff;
    width: 86.5%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-family: 'Geologica', sans-serif;
    margin-bottom: 5vh;
  }

  .content {
    text-align: center;
  }

  .botao_sair {
    margin-top: 25vh;
    justify-self: center;
    grid-area: button;
    background-color:#E61D07;
    color: #fff;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-family: 'Geologica', sans-serif;
  }

  .titulo {
    margin-top: 25vh;
    text-align: center; /* Centraliza o texto "Sistema de Controle e Acompanhamento de Trocas" */
    font-size: 48px;  
    font-family: 'Geologica', sans-serif;
  
  }


  .bem-vindo {
    text-align: center;
    font-size: 48px;
    color: #E89520;
    font-family: 'Geologica', sans-serif; /* Centraliza o texto "Seja Bem Vindo!" */
  }

  .campo_upload_imagem{
    justify-items: center;
    background-color: #ccc;
    border: black;
    padding: 20px;
    margin-bottom: 2vh;
  }

  .form{
    margin-top: 5vh;
    margin-left: 25vw;
    justify-items: center;
  }


  @media (max-width: 768px) {
    /* Estilos para telas menores ou iguais a 768px de largura */
    .grid-container {
      grid-template-columns: 1fr; /* Altera para uma única coluna */
      grid-template-rows: auto 1fr;
      padding: 20px;
    }

    .sidebar {
      padding: 10px;
      text-align: center;
    }

    .user-bar {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    .user-photo {
      margin-right: 0;
      margin-bottom: 10px;
    }

    .search-bar {
      margin-bottom: 10px;
    }
  }