body {
    margin: 0;
    padding: 0;
  }

  .grid-container {
    position:absolute;
    display: grid;
    grid-template-columns: 17.5vw 1fr;
    grid-template-rows: 100vh;
    gap: 10px;
    justify-content: center;
  }

  .sidebar {
    background-color: aquamarine;
    padding: 20px;
    justify-content: center;
  }

  .user-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .access-level {
    color: #888;
  }

  .search {
    position: relative;
    justify-content: center;
    margin-top: 20px;
    color: #f00;
  }

  .pesquisar{
    border: none;
    border-radius: 5px;
    background-color: #f00;
  }

  .features {
    position: relative;
    left: 5vw;
    margin-top: 20px;
  }

  .form {
    padding: 20px;
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .buttons button {
    margin-left: 10px;
  }

  .UserName{
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 18px;

  }

  .NivelAcesso{
    position: absolute;
    top: 18%;
    left: 20%;
    font-size: 14px;
  }

  @media (max-width: 1280px){
    .UserName{
      position: absolute;
      top: 7.5%;
      left: 20%;
      font-size: 16px;
  
    }
  
    .NivelAcesso{
      position: absolute;
      top: 10%;
      left: 20%;
      font-size: 14px;
    }

    .rectangle {
      position: relative;
      width: 15vw;
      height: 5vh;
      background-color: #ccc;
      border-radius: 5px;
    }
  
    .circle {
      position: absolute;
      left: 2%;
      top: 15%;
      padding: 5% 5%;
      width: 0.5vw;
      height: 0.5vw;
      background-color: #f00;
      border-radius: 50%;
    }


  }