body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #05862c;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "logo"
    "login"
    "username"
    "password"
    "button"
    "forgot";
  grid-gap: 10px;
  padding: 10px;
  background-color: #fff;
  align-items: center;
  width: 75vw;
  border-radius: 20px;
}

.grid-container > div {
  text-align: center;
}

.login {
  grid-area: login;
  font-size:medium;
}

.username {
  grid-area: username;
}

.password {
  grid-area: password;
}

.button {
  grid-area: button;
}

.forgot {
  grid-area: forgot;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 175px;
}

@media only screen and (orientation: landscape) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "logo"
      "login"
      "username"
      "password"
      "button"
      "forgot";
    grid-gap: 10px;
    padding: 10px;
    background-color: #fff;
    align-items: center;
    width: 20vw;
    border-radius: 20px;
  }
  
}