@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #05862c;
}

input[type=text] {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: white;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}

input[type=text]:focus {
  border-color: #FFA424;
  transition: border-color 0.3s ease-in-out;
}

input[type=password] {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: white;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
  margin-bottom: 2vh;
}

input[type=password]:focus {
  border-color: #FFA424;
  transition: border-color 0.3s ease-in-out;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "logo"
    "login"
    "username"
    "password"
    "button"
    "forgot";
  grid-gap: 10px;
  padding: 10px;
  background-color: #fff;
  align-items: center;
  width: 80vw;
  border-radius: 20px;
}

.grid-container > div {
  text-align: center;
}

.login {
  margin-top: -5vh;
  grid-area: login;
  font-size: small;
  font-family: 'Geologica', sans-serif;
}

.username {
  grid-area: username;
}

.password {
  grid-area: password;
}

.button {
  justify-self: center;
  grid-area: button;
  background-color:#FFA424;
  color: #fff;
  width: 86.5%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-family: 'Geologica', sans-serif;
}

.forgot {
  grid-area: forgot;
  font-size: smaller;
  font-family: 'Geologica', sans-serif;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 175px;
}

.buttons button{
  background-color: #05862c;
}

@media only screen and (orientation: landscape) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "logo"
      "login"
      "username"
      "password"
      "button"
      "forgot";
    grid-gap: 10px;
    padding: 10px;
    background-color: #fff;
    align-items: center;
    width: 20vw;
    border-radius: 20px;
  }
  
}